*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-image: url(images/amor\,\ park\ sunghoon_.gif);
    height: 120vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}


a img{
    float: left;
    width: 70px;
    padding-top: 4px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(4, 36, 4);
    border-radius: 500px;
    transition: opacity 0.5s;
   
}

a img:hover{
    opacity: 0.45; 
}

.Text h1{
    margin-top: 10px;
    margin-right: 600px;
    margin-left: 600px;
    text-align: center;
    color: rgb(224, 224, 224);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    background-color: rgb(2, 2, 2);
    border-radius: 20px;
    
}

Video{
    margin-top: 10px;
    margin-left: 800px;
    margin-right: 800px;
    width: 250px;
    border: 10px solid;
    border-radius: 10px;
    border-color: rgb(2, 54, 2);
}

.Video2{
    margin-top: -5px;
}