*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-image: url(images/download.gif);
    height: 120vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

a img{
    float: left;
    width: 70px;
    padding-top: 4px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(4, 36, 4);
    border-radius: 500px;
    transition: opacity 0.5s;
   
}

a img:hover{
    opacity: 0.45; 
}



.Text h1{
    margin-top: 100px;
    margin-right: 500px;
    margin-left: 500px;
    text-align: center;
    color: rgb(224, 224, 224);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    background-color: rgb(2, 2, 2);
    border-radius: 20px;
    
}

.Text h2{
    margin-top: 50px;
    margin-left: 500px;
    color: rgb(240, 240, 240);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}

.Text h3{
    float: right;
    margin-top: -80px;
    margin-right: 500px;
    margin-left: 580px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50;
    background-color: aliceblue;
    border-radius: 20px;
}